

@model HomeViewModel

<partial name="_Carousel" />

<h2>Most Wanted Burguers</h2>
<h3>Rich in Flavor, Texture and Size</h3>

<div class="row">

    @foreach (var burguer in Model.BestSellers)
    {
        <partial name="_BurguerCard" model="burguer" />
    }

</div>